* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

body {
    background: radial-gradient(#1f3756, #141539);
    height: 100vh;
    overflow: hidden;
}

button {
    border: none;
    outline: none;
}

/* ------------------------------------ Game Header ---------------------------------------------- */
.game-header {
    width: 100%;
    border: 2px solid hsl(217, 16%, 45%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.45rem;
    padding: .75rem;
    margin: 2rem .25rem;
}
.game-header .game-logo img {
    height: 55px;
    margin-left: 0.45rem;
}
.game-header .game-score {
    height: 80px;
    aspect-ratio: 1/1;
    border-radius: 5px;
    background: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.game-header .game-score .score-title {
    color: #2a46c0;
    font-size: .75em;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.game-header .game-score .score-num {
    color: #3b4363;
    font-size: 2.55em;
    font-weight: 700;
    line-height: 40px;
}
.game-header .game-score .plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #00bcd4;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 25px;
    opacity: 0;
}
/* ------------------------------------ Game Header ---------------------------------------------- */

/* ------------------------------------ Game Dashboard ---------------------------------------------- */
.game-dashboard {
    height: 60vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.game-dashboard .piece  {
    width: 130px;
    aspect-ratio: 1;
    border-radius: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    box-shadow: 0 0 0 #000;
    cursor: pointer;
    transition: .5s;
}
.game-dashboard .piece img {
    height: 40px;
    position: relative;
    z-index: 9;
}
.game-dashboard .paper {
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
    box-shadow: 0 9px 0 hsl(230, 89%, 62%), 0 7px 5px 5px #0000007a;
}
.game-dashboard .scissor {
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
    box-shadow: 0 9px 0 hsl(39deg 97% 40%), 0 7px 5px 5px #0000007a;
}
.game-dashboard .rock {
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
    box-shadow: 0 9px 0 hsl(349, 71%, 52%), 0 7px 5px 5px #0000007a;
}
.game-dashboard .piece::after {
    content: '';
    background: #e8e8e8;
    height: 75%;
    width: 75%;
    border-radius: 50%;
    position: absolute;
    box-shadow: inset 0px 8px 0 #c7c7c7;
}
/* ------------- Step 1 --------------- */
.game-dashboard .step-one {
    position: relative;
    height: 200px;
    width: 200px;
    background: url(IMG/bg-triangle.svg) no-repeat center;
    background-size: contain;
}
.game-dashboard .step-one .piece:hover {
    scale: .98;
}
.game-dashboard .step-one .paper {
    top: calc(-130px / 2);
    left: 0;
    transform: translateX(-50%);
}
.game-dashboard .step-one .scissor {
    top: calc(-130px / 2);
    right: 0;
    transform: translateX(50%);
}
.game-dashboard .step-one .rock {
    bottom: calc(-130px / 2);
    left: 50%;
    transform: translateX(-50%);
}
/* ------------- Step 1 --------------- */

/* ------------- Step 2 --------------- */
.game-dashboard .step-two {
    width: 300px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-top: 3rem;
    display: none;
}
.game-dashboard .step-two .user ,
.game-dashboard .step-two .house {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.game-dashboard .step-two .winner .winner-animation {
    position: absolute;
    width: 110px;
    aspect-ratio: 1;
}
.game-dashboard .step-two .winner .winner-animation.animate span {
    animation: winnerFlowing 2s infinite;
    animation-direction: alternate-reverse;
}
.game-dashboard .step-two .winner .winner-animation span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 8rem;
    border-radius: 50%;
    aspect-ratio: 1;
    transition: .5s;
    z-index: -1;
}
.game-dashboard .step-two .winner .winner-animation span:nth-child(1) {
    padding: 6rem;
    background-color: #ffffff0a;
}
.game-dashboard .step-two .winner .winner-animation span:nth-child(2) {
    padding: 8rem;
    background-color: #ffffff08;
}
.game-dashboard .step-two .winner .winner-animation span:nth-child(3) {
    padding: 10rem;
    background-color: #ffffff05;
}
.game-dashboard .step-two .winner .winner-animation.hide span:nth-child(1),
.game-dashboard .step-two .winner .winner-animation.hide span:nth-child(2),
.game-dashboard .step-two .winner .winner-animation.hide span:nth-child(3) {
    padding: 0;
}
.game-dashboard .step-two .user .title ,
.game-dashboard .step-two .house .title {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 2rem;
}
.game-dashboard .step-two .selection {
    width: 110px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #1d1d1d78;
    display: grid;
    place-items: center;
}
.game-dashboard .step-two .result {
    position: absolute;
    bottom: -90%;
    left: 50%;
    letter-spacing: 2px;
    transform: translateX(-50%);
    display: none;
}
.game-dashboard .step-two .result .result-title {
    font-size: 3em;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 1rem;
    white-space: nowrap;
}
.game-dashboard .step-two .result .play-again {
    width: 100%;
    padding-block: .65rem;
    color: hsl(228, 46%, 31%);
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}
.game-dashboard .step-two .result .play-again:hover {
    outline: 1px solid #fff;
    background-color: transparent;
    color: #fff;
}

/* ------------- Step 2 --------------- */

/* ------------------------------------ Game Dashboard ---------------------------------------------- */

/* ------------------------------------ Game Dashboard ---------------------------------------------- */

/* ------------------------------------ Rules ---------------------------------------------- */
.rules {
    position: absolute;
    top: 0;
    left: 0;
}
.rules button {
    position: fixed;
    bottom: 30px;
    right: 50%;
    transform: translateX(50%);
    border: 2px solid #929292;
    background: transparent;
    color: #fff;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 0.55rem 2.15rem;
    border-radius: 0.45rem;
    cursor: pointer;
    transition: .5s;
}
.rules button:hover {
    transform: translateX(50%) scale(.95);
}
.rules .rules-background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #00000063;
    z-index: 99;
    display: none;
}
.rules .rules-background.show {
    display: unset;
}
.rules .rules-background .rules-card {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: #fff;
    padding: 2rem 2.65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: .5s;
}
.rules .rules-background .rules-card .card-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.rules .rules-background .rules-card .card-head h4 {
    font-size: 1.85em;
    text-transform: uppercase;
    color: hsl(229, 25%, 31%);
}
.rules .rules-background .rules-card .card-head .close-rules-desktop,
.rules .rules-background .rules-card .close-rules-mobile {
    cursor: pointer;
}
.rules .rules-background .rules-card .card-head .close-rules-desktop {
    display: none;
}
/* ------------------------------------ Rules ---------------------------------------------- */

/* ------------------------------------ Animations ---------------------------------------------- */

@keyframes winnerFlowing {
    50% {
        padding: +9rem;
    }
    100% {
        padding: +5rem;
    }
}
@media (min-width: 992px) {
    @keyframes winnerFlowing {
        50% {
            padding: +12rem;
        }
        100% {
            padding: +9rem;
        }
    }
}

@keyframes IncrementScore {
    0% {
        opacity: 1;
    }
    100% {
        top: -20%;
        opacity: 0;
    }
}

/* ------------------------------------ Animations ---------------------------------------------- */

/* ------------------------------------ Container & Query ---------------------------------------------- */

.container {
    padding: 0 15px;
    margin: 0 auto;
}
  /* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }

    /* Header */
    .game-header {
        width: 80%;
        border: 2px solid hsl(217, 16%, 45%);
        margin: 2rem auto;
    }
    .game-header .game-logo img {
        height: 80px;
    }
    .game-header .game-score {
        height: 90px;
        aspect-ratio: 1.5/1;
        border-radius: 5px;
    }
    .game-header .game-score .score-title {
        font-size: 1em;
    }
    .game-header .game-score .score-num {
        font-size: 3.25em;
        line-height: 50px;
    }
    /* Header */
    
    /* Dashboard */
    .game-dashboard .step-one {
        height: 280px;
        width: 300px;
    }
    .game-dashboard .piece img {
        height: 50px;
    }
    .game-dashboard .piece,
    .game-dashboard .step-two .winner .winner-animation  {
        width: 180px;
    }

    .game-dashboard .step-two .selection {
        width: 170px;
    }
    .game-dashboard .step-two {
        width: 70%;
    }
    .game-dashboard .step-two .user .title, .game-dashboard .step-two .house .title {
        font-size: 1.25em;
        margin-top: 4rem;
    }
    .game-dashboard .step-two .winner .winner-animation span:nth-child(1) {
        padding: 8rem;
        background-color: #ffffff0a;
    }
    .game-dashboard .step-two .winner .winner-animation span:nth-child(2) {
        padding: 10rem;
        background-color: #ffffff08;
    }
    .game-dashboard .step-two .winner .winner-animation span:nth-child(3) {
        padding: 12rem;
        background-color: #ffffff05;
    }
    /* Dashboard */
    
    /* Rules */
    .rules button {
        bottom: 30px;
        right: 30px;
        transform: unset;
    }
    .rules button:hover {
        transform: scale(.95);
    }
    .rules .rules-background .rules-card {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0);
        width: 400px;
        height: 420px;
        border-radius: 10px;
    }
    .rules .rules-background .rules-card .card-head {
        width: 100%;
        margin-bottom: 2rem;
    }
    .rules .rules-background .rules-card .card-head .close-rules-desktop{
        display: unset;
    }
    .rules .rules-background .rules-card .close-rules-mobile {
    display: none;
    }
    /* Rules */
}
  /* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    /* Dashboard */
    .game-dashboard .step-two {
        width: 90%;
    }
    .game-dashboard .step-two .result {
        position: absolute;
        bottom: unset;
        left: 50%;
        letter-spacing: 2px;
        transform: translateX(-50%);
    }
    .game-dashboard .step-two .piece,
    .game-dashboard .step-two .winner .winner-animation {
        width: 230px;
    }
    .game-dashboard .step-two .piece img {
        height: 80px;
    }
    .game-dashboard .step-two .user, .game-dashboard .step-two .house {
        flex-direction: column-reverse;
    }
    .game-dashboard .step-two .user .title, .game-dashboard .step-two .house .title {
        margin-top: 0;
        margin-bottom: 4rem;
    }
    .game-dashboard .step-two .winner .winner-animation span {
        top: 65%;
    }
    .game-dashboard .step-two .winner .winner-animation span:nth-child(1) {
        padding: 10rem;
        background-color: #ffffff0a;
    }
    .game-dashboard .step-two .winner .winner-animation span:nth-child(2) {
        padding: 14rem;
        background-color: #ffffff08;
    }
    .game-dashboard .step-two .winner .winner-animation span:nth-child(3) {
        padding: 18rem;
        background-color: #ffffff05;
    }
    /* Dashboard */
}
  /* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* ------------------------------------ Container & Query ---------------------------------------------- */